#--- Remove all temporary and system files
.agents
.android
.bun
.bundle
.cache
.cmux
.cmuxterm
.cocoapods
.codex
.codex_org
.conda
.config
.continue
.copilot
.cups
.dart
.dart-tool
.dartServer
.erd-editor
.expo
.flutter-devtools
.gem
.gemini
.genkit_tui
.gk
.gradle
.gsutil
.homebrew
.keras
.kimi-code
.local
.npm
.nvm
.ollama
.ollama_tui
.omnissa
.pm2
.pub-cache
.putty
.sdkman
.ssh
.swiftpm
.Trash
.vim
.vscode
.vscode-shared
.zsh_sessions

appl
Applications
Desktop
Documents
Downloads
gensim-data
go
Library
links
localRepositories
Movies
Music
Pictures
Public
work
workplace/
zzbackup
zztemp

.bash_history
.bash_profile
.boto
.CFUserTextEncoding
.claude.json
.emulator_console_auth_token
.env
.flutter
.gitconfig
.gitconfig_bluestone
.gitconfig_obcon
.lesshst
.node_repl_history
.npmrc
.obsidian-cli.sock
.profile
.python_history
.tmux.conf
.viminfo
.zcompdump
.zcompdump.*
.zprofile
.zsh_history
.zshrc
.zshrc.backup

.DS_Store

attach_types.txt
README_show.md
requirements.txt

#--- Cluade Code 설정
.claude/.obsidian
.claude/agents
.claude/backups
.claude/cache
.claude/commands
.claude/daemon
.claude/downloads
.claude/file-history
.claude/jobs
.claude/paste-cache
.claude/plans
.claude/plugins
.claude/projects
.claude/save_agents
.claude/save_skills
.claude/session-env
.claude/sessions
.claude/shell-snapshots
# .claude/skills
.claude/tasks
.claude/telemetry
.claude/.claude.json
.claude/.last-cleanup
.claude/.last-update-result.json
# .claude/AGENTS.md
.claude/CLAUDE.md
.claude/history.jsonl
.claude/settings.json
.claude/stats-cache.json
.claude/statusline-command.sh
